{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password cambiata{% endblock title %}

{% block contenuto %}
<div class= "container">
  <div class = "row my-4">
    <div = "col-12">
      <h1>Password cambiata</h1>
      <p>Per favore inserisci la tua vecchia Password, per sicurezza, 
        e inserisci la nuova Password due volte, così possiamo verificare se hai 
        scritto correttamente</p>

      <form method="POST">{% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Cambia la mia password">
      </form>
    </div>
  </div>
</div>      
{% endblock contenuto %}