{% extends 'base.html' %}

{% block titolo %} Privacy {% endblock titolo %}

{% block contenuto %}

<div class="container" >
	<div class="row">
		<div class="col-12" style="height: 20px;"></div>
	</div>

	<div class="row mb-3 my-2">
		<div class="col-12">
			<div class = "card">
				<div class = "card-body">
					<h6> 
					Questo sito è stato realizzato solo per scopo didattico per il corso: Progettazione e Produzione Multimediale dell'Università di Firenze 
					<br>
					I contenuti e le immagini non sono di mia proprietà e sono utilizzati solo a scopo didattico, sono di proprietà dei rispettivi proprietari.
					</h6>
				</div>
			</div>	
		</div>	

	</div>	


</div>

{% endblock contenuto %}